<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>iphonecontrols1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 39}, {198, 112}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{198, 112}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{399, 241}, {198, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 31}, {196, 120}}</string>
			<key>spriteOffset</key>
			<string>{7, 9}</string>
			<key>spriteSize</key>
			<string>{196, 120}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {196, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 33}, {198, 118}}</string>
			<key>spriteOffset</key>
			<string>{6, 8}</string>
			<key>spriteSize</key>
			<string>{198, 118}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1776, 1}, {198, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 33}, {198, 118}}</string>
			<key>spriteOffset</key>
			<string>{6, 8}</string>
			<key>spriteSize</key>
			<string>{198, 118}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1577, 1}, {198, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 40}, {200, 110}}</string>
			<key>spriteOffset</key>
			<string>{4, 5}</string>
			<key>spriteSize</key>
			<string>{200, 110}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1197, 241}, {200, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 40}, {200, 110}}</string>
			<key>spriteOffset</key>
			<string>{4, 5}</string>
			<key>spriteSize</key>
			<string>{200, 110}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{996, 241}, {200, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 35}, {198, 116}}</string>
			<key>spriteOffset</key>
			<string>{1, 7}</string>
			<key>spriteSize</key>
			<string>{198, 116}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{399, 122}, {198, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 33}, {198, 118}}</string>
			<key>spriteOffset</key>
			<string>{1, 8}</string>
			<key>spriteSize</key>
			<string>{198, 118}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 122}, {198, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 30}, {196, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 10}</string>
			<key>spriteSize</key>
			<string>{196, 120}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{986, 1}, {196, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 31}, {196, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 9}</string>
			<key>spriteSize</key>
			<string>{196, 120}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{395, 1}, {196, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 38}, {198, 112}}</string>
			<key>spriteOffset</key>
			<string>{2, 6}</string>
			<key>spriteSize</key>
			<string>{198, 112}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1195, 122}, {198, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 39}, {198, 112}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{198, 112}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 241}, {198, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 39}, {198, 112}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{198, 112}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1792, 122}, {198, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 39}, {198, 112}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{198, 112}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 241}, {198, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 39}, {198, 112}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{198, 112}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{797, 241}, {198, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 39}, {198, 112}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{198, 112}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 241}, {198, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 39}, {198, 112}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{198, 112}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1394, 122}, {198, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 39}, {198, 112}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{198, 112}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1593, 122}, {198, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 39}, {198, 112}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{198, 112}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{996, 122}, {198, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 39}, {198, 112}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{198, 112}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{797, 122}, {198, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1657, 354}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 441}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 34}, {198, 116}}</string>
			<key>spriteOffset</key>
			<string>{6, 8}</string>
			<key>spriteSize</key>
			<string>{198, 116}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 122}, {198, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1036, 354}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1398, 241}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{829, 441}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1605, 241}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1450, 441}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1812, 241}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1243, 441}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1450, 354}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 354}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 354}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 34}, {198, 116}}</string>
			<key>spriteOffset</key>
			<string>{6, 8}</string>
			<key>spriteSize</key>
			<string>{198, 116}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 122}, {198, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{829, 354}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1657, 441}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1243, 354}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1036, 441}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 354}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{415, 441}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 441}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{415, 354}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 39}, {206, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, 18}</string>
			<key>spriteSize</key>
			<string>{206, 86}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 441}, {206, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 31}, {196, 120}}</string>
			<key>spriteOffset</key>
			<string>{7, 9}</string>
			<key>spriteSize</key>
			<string>{196, 120}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{592, 1}, {196, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 31}, {196, 120}}</string>
			<key>spriteOffset</key>
			<string>{7, 9}</string>
			<key>spriteSize</key>
			<string>{196, 120}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{789, 1}, {196, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 31}, {196, 120}}</string>
			<key>spriteOffset</key>
			<string>{7, 9}</string>
			<key>spriteSize</key>
			<string>{196, 120}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{198, 1}, {196, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 31}, {196, 120}}</string>
			<key>spriteOffset</key>
			<string>{7, 9}</string>
			<key>spriteSize</key>
			<string>{196, 120}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1183, 1}, {196, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphonecontrols9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 31}, {196, 120}}</string>
			<key>spriteOffset</key>
			<string>{7, 9}</string>
			<key>spriteSize</key>
			<string>{196, 120}</string>
			<key>spriteSourceSize</key>
			<string>{240, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1380, 1}, {196, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>