<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>jump1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 163}, {112, 128}}</string>
			<key>spriteOffset</key>
			<string>{-5, -77}</string>
			<key>spriteSize</key>
			<string>{112, 128}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 166}, {112, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{87, 171}, {116, 120}}</string>
			<key>spriteOffset</key>
			<string>{-5, -81}</string>
			<key>spriteSize</key>
			<string>{116, 120}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{453, 166}, {116, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{88, 196}, {124, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -93}</string>
			<key>spriteSize</key>
			<string>{124, 94}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 295}, {124, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 143}, {106, 148}}</string>
			<key>spriteOffset</key>
			<string>{-8, -67}</string>
			<key>spriteSize</key>
			<string>{106, 148}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 1}, {106, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 125}, {106, 164}}</string>
			<key>spriteOffset</key>
			<string>{-5, -57}</string>
			<key>spriteSize</key>
			<string>{106, 164}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {106, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 163}, {112, 128}}</string>
			<key>spriteOffset</key>
			<string>{-5, -77}</string>
			<key>spriteSize</key>
			<string>{112, 128}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 166}, {112, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{81, 184}, {140, 106}}</string>
			<key>spriteOffset</key>
			<string>{1, -87}</string>
			<key>spriteSize</key>
			<string>{140, 106}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{820, 166}, {140, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{211, 189}, {140, 140}}</string>
			<key>spriteOffset</key>
			<string>{6, -59}</string>
			<key>spriteSize</key>
			<string>{140, 140}</string>
			<key>spriteSourceSize</key>
			<string>{550, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{439, 1}, {140, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 156}, {110, 126}}</string>
			<key>spriteOffset</key>
			<string>{-3, -69}</string>
			<key>spriteSize</key>
			<string>{110, 126}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{227, 166}, {110, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{99, 139}, {106, 144}}</string>
			<key>spriteOffset</key>
			<string>{2, -61}</string>
			<key>spriteSize</key>
			<string>{106, 144}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{215, 1}, {106, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 127}, {136, 132}}</string>
			<key>spriteOffset</key>
			<string>{9, -43}</string>
			<key>spriteSize</key>
			<string>{136, 132}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{723, 1}, {136, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 144}, {114, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, -57}</string>
			<key>spriteSize</key>
			<string>{114, 126}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 166}, {114, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 171}, {124, 112}}</string>
			<key>spriteOffset</key>
			<string>{20, -77}</string>
			<key>spriteSize</key>
			<string>{124, 112}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 166}, {124, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{106, 140}, {116, 142}}</string>
			<key>spriteOffset</key>
			<string>{14, -61}</string>
			<key>spriteSize</key>
			<string>{116, 142}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 1}, {116, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 126}, {142, 140}}</string>
			<key>spriteOffset</key>
			<string>{16, -46}</string>
			<key>spriteSize</key>
			<string>{142, 140}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{580, 1}, {142, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 143}, {116, 130}}</string>
			<key>spriteOffset</key>
			<string>{13, -58}</string>
			<key>spriteSize</key>
			<string>{116, 130}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{860, 1}, {116, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{109, 171}, {124, 112}}</string>
			<key>spriteOffset</key>
			<string>{21, -77}</string>
			<key>spriteSize</key>
			<string>{124, 112}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{695, 166}, {124, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>penguinSheet.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>