<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>yetiShock1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {184, 248}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 248}</string>
			<key>spriteSourceSize</key>
			<string>{184, 248}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{386, 1646}, {184, 248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {229, 382}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{239, 462}</string>
			<key>spriteSourceSize</key>
			<string>{239, 462}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{271, 244}, {239, 462}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {228, 312}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{234, 316}</string>
			<key>spriteSourceSize</key>
			<string>{234, 316}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 720}, {234, 316}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {229, 313}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{233, 315}</string>
			<key>spriteSourceSize</key>
			<string>{233, 315}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1037}, {233, 315}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {254, 239}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{258, 243}</string>
			<key>spriteSourceSize</key>
			<string>{258, 243}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{271, 0}, {258, 243}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {211, 240}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 242}</string>
			<key>spriteSourceSize</key>
			<string>{217, 242}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{750, 463}, {217, 242}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {199, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{201, 237}</string>
			<key>spriteSourceSize</key>
			<string>{201, 237}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{203, 1408}, {201, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {200, 238}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{202, 240}</string>
			<key>spriteSourceSize</key>
			<string>{202, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1353}, {202, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {201, 238}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{203, 240}</string>
			<key>spriteSourceSize</key>
			<string>{203, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{682, 956}, {203, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {198, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 238}</string>
			<key>spriteSourceSize</key>
			<string>{200, 238}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1594}, {200, 238}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {198, 234}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{202, 238}</string>
			<key>spriteSourceSize</key>
			<string>{202, 238}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{681, 1197}, {202, 238}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {166, 249}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 249}</string>
			<key>spriteSourceSize</key>
			<string>{184, 249}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{201, 1646}, {184, 249}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {199, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{203, 237}</string>
			<key>spriteSourceSize</key>
			<string>{203, 237}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{234, 1170}, {203, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {200, 238}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{204, 240}</string>
			<key>spriteSourceSize</key>
			<string>{204, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{477, 926}, {204, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {199, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{203, 238}</string>
			<key>spriteSourceSize</key>
			<string>{203, 238}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{477, 1167}, {203, 238}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {198, 234}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{202, 238}</string>
			<key>spriteSourceSize</key>
			<string>{202, 238}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{438, 1406}, {202, 238}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {214, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{216, 249}</string>
			<key>spriteSourceSize</key>
			<string>{216, 249}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{750, 706}, {216, 249}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {268, 256}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{270, 256}</string>
			<key>spriteSourceSize</key>
			<string>{270, 256}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {270, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {229, 382}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{237, 462}</string>
			<key>spriteSourceSize</key>
			<string>{237, 462}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{239, 707}, {237, 462}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {228, 376}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{238, 462}</string>
			<key>spriteSourceSize</key>
			<string>{238, 462}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 257}, {238, 462}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 69}, {228, 310}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{240, 462}</string>
			<key>spriteSourceSize</key>
			<string>{240, 462}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{771, 0}, {240, 462}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {228, 382}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{238, 462}</string>
			<key>spriteSourceSize</key>
			<string>{238, 462}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{511, 463}, {238, 462}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yetiShock9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {228, 382}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{240, 462}</string>
			<key>spriteSourceSize</key>
			<string>{240, 462}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{530, 0}, {240, 462}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>name</key>
		<string>yetiShockSheet.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>